<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" th:fragment="layout (content)">
<head>
  <title>Give us a prompt</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div id="header">
  AI Resume Generator
</div>
<div id="content" th:replace="${content}">
</div>
</body>
</html>